<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hiltgiphy.browseui.impl">

    <application>
        <activity
            android:name=".BrowseActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>